<h1>Listing custos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Viagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custos.each do |custo| %>
      <tr>
        <td><%= custo.tipo %></td>
        <td><%= custo.data %></td>
        <td><%= custo.valor %></td>
        <td><%= custo.viagem.id %></td>
        <td><%= link_to 'Show', custo %></td>
        <td><%= link_to 'Edit', edit_custo_path(custo) %></td>
        <td><%= link_to 'Destroy', custo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


