<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @custo.tipo %>
</p>

<p>
  <strong>Data:</strong>
  <%= @custo.data %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @custo.valor %>
</p>

<p>
  <strong>Viagem:</strong>
  <%= @custo.viagem.id %>
</p>

<%= link_to 'Edit', edit_custo_path(@custo) %> |
<%= link_to 'Back', custos_path %>
